/* body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.circle {
  border-radius: 50%;
  left: calc(50% - 6.25em);
  top: calc(50% - 12.5em);
  transform-origin: 50% 12.5em;
  width: 12.5em;
  height: 12.5em;
  position: absolute;
  box-shadow: 0 1em 2em rgba(0, 0, 0, .5);
}

.one,
.three {
  background: rgba(142, 92, 205, .75);
}

.two,
.four {
  background: rgba(236, 252, 100, .75);
}


.one {
  transform: rotateZ(0);
}

.two {
  transform: rotateZ(90deg);
}

.three {
  transform: rotateZ(180deg);
}

.four {
  transform: rotateZ(-90deg);
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.container {
  animation: spin 10s linear infinite;
} */

.d-flex {
  display: flex;
}

.box {
  display: flex;
  margin: -12px;
}

.container {
  container-type: size;
}

.container .bg-blue {
  display: flex;
}

@container (max-width: 700px) {
  .bg-blue {
    display: block;
  }
}

.bg-pink {
  background-color: pink;
}
.bg-blue {
  background-color: rgb(27, 21, 226);
}

.bg-orange {
  background-color: orange;
}

.bg-purple {
  background-color: purple;
}

.cube {
  padding: 3rem;
}
.w-40 {
  width: 40vw;
  height: 20vh;
}

.w-60 {
  width: 66vw;
  height: 20vh;
}

@media (max-width: 700px) {
  .w-40 {
    width: 100vw;
    height: 20vh;
  }

  .w-60 {
    width: 100vw;
    height: 20vh;
  }

  .box {
    display: block;
  }
}